$header-font: Anton, Arial, Helvetica, sans-serif;
$description-font: Brawler, Arial, Helvetica, sans-serif;
$paragraph-title-font: Public Sans, Arial, Helvetica, sans-serif;
$form-font: Poppins, Arial, Helvetica, sans-serif;